
.col-1 {
  width: 8.3333vw;
  height: 100vh;
  float: left; }

.col-2 {
  width: 1.6667vw;
  height: 100vh;
  float: left; }

.col-3 {
  width: 33.3333vw;
  //float: left;
}

.col-4 {
  width: 3.3333vw;
  height: 100vh;
  float: left; }

.col-5 {
  width: 71.42857vw;
  height: 100vh;
  float: left; }

.col-6 {
  width: 85.71429vw;
  height: 100vh;
  float: left; }

.col-7 {
  width: 100vw;
  height: 100vh;
  float: left; }

.col-12 {

}