@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

main {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
  background-image: url('../img/background.jpeg');
  background-position: center;
  color: $white;
  padding: 10px;
  @include flexCenter;
  section {
    background-color: #13bdd2;
    border-radius: 5px;
    align-self: center;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.22);
    width: 30vw;
    height: 54.8vh;
    font-weight: 300;
    font-stretch: condensed;
    text-align: center;
    @include flexCenter;
    p:first-child {
      font-size: 40px;
      line-height: 1.45;
      text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.11);
    }
    p:second-child {
      font-size: 15px;
    }
    .img {
      width: 94px;
      height: 94px;
      border-radius: 50%;
      background-color: $white;
      z-index: 10;
    }
    form>row {
      @include flexCenter;
      flex-flow: row nowrap;
    }
    h2, i {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.24;
    }
    .error {
      border: 2px solid blueviolet;
      background-color: rgba(255, 3, 12, 0.51);
    }
    button {}
  }
}

//
//
////
////.row {
////  @include vertical-center;
////  @include absolute-center;
////}
//
//div.main {
//  background-color: $blue;
//  //position: relative;
//  //margin: 0 auto;
//}
//
//ul {
//  list-style-type: none;
//  li {
//    display: inline;
//  }
//}
//
//.avatar {
//  background-color: $white;
//  width: 100px;
//  height: 100px;
//  border-radius: 50%;
//}
//
//button {
//  width: 118px;
//  height: 31px;
//  -webkit-border-radius: 5px;
//  -moz-border-radius: 5px;
//  border-radius: 5px;
//  .active {
//    background-color: $white;
//    color: $black;
//    font-size: 17px;
//  }
//  .unactive {
//    background-color: $blue;
//    font-size: 15px;
//  }
//}
//
//h1 {
//  font-size: 40px;
//}
//h2 {
//  width: 83px;
//  height: 13px;
//  //font-family: Roboto;
//  font-size: 18px;
//  font-weight: bold;
//  //font-stretch: condensed;
//  line-height: 1.24;
//  text-shadow: 0.7px 0.7px 0 $white;
//}
//
//input {
//  width: 409px;
//  height: 35px;
//  background-image: linear-gradient(to top, #000000, $white);
//  background-blend-mode: overlay;
//  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.22);
//}
//
//nav {
//    width: 44px;
//    height: 8px;
//    opacity: 0.8;
//    font-family: 'Roboto'
//, sans-serif;
//    font-size: 11px;
//    font-weight: bold;
//    font-stretch: condensed;
//    letter-spacing: 0.3px;
//    color: rgba(255, 255, 255, 0.8);
//    text-shadow: 0.6px 0.8px 0 rgba(15, 15, 15, 0.83);
//}
//
